//轮播图的样式
 .swiper-wrapper {
            height: auto;
        }

        .swiper-slide img {
            width: 100%;
        }

        .swiper-slide .title {
            font-style: italic;
            font-size: 42px;
            margin-top: 80px;
            margin-bottom: 0;
            line-height: 45px;
        }

        .swiper-pagination {
            position: absolute;
            z-index: 20;
            margin: 0 auto;
            left: 50%;
            bottom: 10px;
        }

        .swiper-pagination-switch {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #fff;
            margin-right: 5px;
            opacity: 0.8;
            border: 1px solid #fff;
            cursor: pointer;
        }

        .swiper-visible-switch {
            background: #aaa;
        }

        .swiper-active-switch {
            background: #ddc27b;
        }
        .swiper-pagination{left: 50%!important;transform: translateX(-50%)!important;-webkit-transform: translateX(-50%)!important;}
.swiper-slide img{height: auto!important;max-height: 200px!important;}/*max-height: 225px!important;*/

//头部的背景颜色
header{
    background-image: url("../images/bg-header.png");
     background-repeat:no-repeat; 
     background-size:100% 100%;
     -moz-background-size:100% 100%;
}
//头部的返回键样式
.bar .icon{
    color: #fff;
    font-size: 0.9rem;
}
.bar-nav a:first-child {
    margin-left: 0.4rem;
}
//头部的标题
.title{
    letter-spacing: 1px;
    font-family:"Microsoft YaHei"; 
    line-height: 46px;
    color: #ddc27b;
    font-size: 16px;
}